****
## JSON exercise


1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [45]:
import pandas as pd
import numpy as np

In [37]:
import json
from pandas.io.json import json_normalize

In [38]:
#Opens the json file as a pandas dataframe
normal = pd.read_json("data/world_bank_projects.json",orient='columns' )

In [39]:
# Groups and counts each country
country = normal[['countryshortname', 'mjtheme_namecode', 'project_name']].set_index(['countryshortname']).sort_index()
project_count = country.groupby('countryshortname').count()

In [35]:
#The countries with the Top 10 projects sorted by the counts of each protect. 
project_count.sort_values('mjtheme_namecode', ascending=False).head(10)

                    mjtheme_namecode  project_name
countryshortname
China                             19            19
Indonesia                         19            19
Vietnam                           17            17
India                             16            16
Yemen, Republic of                13            13
Nepal                             12            12
Bangladesh                        12            12
Morocco                           12            12
Mozambique                        11            11
Africa                            11            11

In [22]:
#This loads the json file and converts it to a normalized pandas datafame
data = json.load((open('data/world_bank_projects.json')))
project_json_df = json_normalize(data, 'mjtheme_namecode', 'countryshortname')

In [41]:
"""Grouping the dataframe by code, which is the key that defines each project theme, and counting and sorting them 
tells what the top 10 project themes are."""
project_json_df.groupby('code').count().sort_values('name', ascending=False).head(10)

      name  countryshortname
code
11     250               250
10     216               216
8      210               210
2      199               199
6      168               168
4      146               146
7      130               130
5       77                77
9       50                50
1       38                38

In [43]:
#Check for any missing objects in the dataframe
project_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code                1499 non-null object
name                1499 non-null object
countryshortname    1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [42]:
#Finds the missing data in the of the names of the different themes and counts them.
print(project_json_df[project_json_df.name==''].count())

code                122
name                122
countryshortname    122
dtype: int64

In [46]:
#Changes the missing data from a string to a null object
project_json_df.name[project_json_df.name == ''] = np.nan

In [47]:
#Check again for any missing objects in the dataframe. Equals the same count as the blank strings
project_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code                1499 non-null object
name                1377 non-null object
countryshortname    1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [51]:
#Fills in the missing data in a new dataframe and checks if it has worked
df_filled = project_json_df.fillna(method='ffill')
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code                1499 non-null object
name                1499 non-null object
countryshortname    1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [52]:
df_filled

,code,name,countryshortname
0,8,Human development,Ethiopia
1,11,Human development,Ethiopia
2,1,Economic management,Tunisia
3,6,Social protection and risk management,Tunisia
4,5,Trade and integration,Tuvalu
5,2,Public sector governance,Tuvalu
6,11,Environment and natural resources management,Tuvalu
7,6,Social protection and risk management,Tuvalu
8,7,Social dev/gender/inclusion,"Yemen, Republic of"
9,7,Social dev/gender/inclusion,"Yemen, Republic of"
10,5,Trade and integration,Lesotho
11,4,Financial and private sector development,Lesotho
12,6,Social protection and risk management,Kenya
13,6,Social protection and risk management,Kenya
14,2,Public sector governance,India
15,4,Financial and private sector development,India
16,11,Environment and natural resources management,China
17,8,Environment and natural resources management,China
18,10,Rural development,India
19,7,Rural development,India
20,2,Public sector governance,Morocco
21,2,Public sector governance,Morocco
22,2,Public sector governance,Morocco
23,10,Rural development,South Sudan
24,2,Rural development,South Sudan
25,10,Rural development,India
26,6,Social protection and risk management,India
27,6,Social protection and risk management,India
28,11,Environment and natural resources management,India
29,4,Environment and natural resources management,Ghana
...,...,...,...
1469,8,Human development,Brazil
1470,9,Urban development,Papua New Guinea
1471,6,Social protection and risk management,Papua New Guinea
1472,6,Social protection and risk management,Papua New Guinea
1473,9,Urban development,Papua New Guinea
1474,2,Public sector governance,Nepal
1475,2,Public sector governance,Nepal
1476,10,Rural development,West Bank and Gaza
1477,11,Rural development,West Bank and Gaza
1478,8,Human development,Pakistan
1479,7,Social dev/gender/inclusion,Pakistan
1480,11,Environment and natural resources management,Bangladesh
1481,5,Environment and natural resources management,Bangladesh
1482,6,Social protection and risk management,Nepal
1483,8,Social protection and risk management,Nepal
1484,4,Financial and private sector development,Jamaica
1485,7,Social dev/gender/inclusion,Jamaica
1486,8,Human development,Lao People's Democratic Republic
1487,5,Trade and integration,Lao People's Democratic Republic
1488,2,Public sector governance,Lao People's Democratic Republic
1489,8,Human development,Lao People's Democratic Republic
1490,10,Rural development,Guinea
1491,6,Rural development,Guinea
1492,10,Rural development,Indonesia
1493,10,Rural development,Indonesia
1494,10,Rural development,Indonesia
1495,9,Urban development,Kenya
1496,8,Human development,Kenya
1497,5,Trade and integration,Kenya
1498,4,Financial and private sector development,Kenya