****
## JSON exercise


1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [59]:
import pandas as pd
import numpy as np

In [60]:
import json
from pandas.io.json import json_normalize

In [61]:
#Opens the json file as a pandas dataframe
normal = pd.read_json("data/world_bank_projects.json",orient='columns' )

In [62]:
# Groups and counts each country
country = normal[['countryshortname', 'mjtheme_namecode', 'project_name']].set_index(['countryshortname']).sort_index()
project_count = country.groupby('countryshortname').count()

In [63]:
#The countries with the Top 10 projects sorted by the counts of each protect. 
project_count.sort_values('mjtheme_namecode', ascending=False).head(10)

                    mjtheme_namecode  project_name
countryshortname
China                             19            19
Indonesia                         19            19
Vietnam                           17            17
India                             16            16
Yemen, Republic of                13            13
Nepal                             12            12
Bangladesh                        12            12
Morocco                           12            12
Mozambique                        11            11
Africa                            11            11

In [64]:
#This loads the json file and converts it to a normalized pandas datafame
data = json.load((open('data/world_bank_projects.json')))
project_json_df = json_normalize(data, 'mjtheme_namecode', 'countryshortname')

In [65]:
"""Grouping the dataframe by code, which is the key that defines each project theme, and counting and sorting them 
tells what the top 10 project themes are."""
print(project_json_df.groupby('code').count().sort_values('name', ascending=False).head(10))
print(project_json_df.groupby(['code', 'name']).count().sort_values('countryshortname', ascending=False).head(10))

      name  countryshortname
code
11     250               250
10     216               216
8      210               210
2      199               199
6      168               168
4      146               146
7      130               130
5       77                77
9       50                50
1       38                38
                                                   countryshortname
code name
11   Environment and natural resources management               223
10   Rural development                                          202
8    Human development                                          197
2    Public sector governance                                   184
6    Social protection and risk management                      158
4    Financial and private sector development                   130
7    Social dev/gender/inclusion                                119
5    Trade and integration                                       72
9    Urban development                                           47
1    Economic management                                         33

In [66]:
#Check for any missing objects in the dataframe
project_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code                1499 non-null object
name                1499 non-null object
countryshortname    1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [67]:
#Finds the missing data in the of the names of the different themes and counts them.
print(project_json_df[project_json_df.name==''].count())

code                122
name                122
countryshortname    122
dtype: int64

In [68]:
#Changes the missing data from a string to a null object
project_json_df.name[project_json_df.name == ''] = np.nan

In [69]:
#Check again for any missing objects in the dataframe. Equals the same count as the blank strings
project_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code                1499 non-null object
name                1377 non-null object
countryshortname    1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [70]:
#Fills in mssing data correctly
project_json_df.loc[project_json_df.code == '1', 'name'] = 'Economic management'
project_json_df.loc[project_json_df.code == '2', 'name'] = 'Public sector governance'
project_json_df.loc[project_json_df.code == '3', 'name'] = 'Rule of law'
project_json_df.loc[project_json_df.code == '4', 'name'] = 'Financial and private sector development'
project_json_df.loc[project_json_df.code == '5', 'name'] = 'Trade and integration'
project_json_df.loc[project_json_df.code == '6', 'name'] = 'Social protection and risk management'
project_json_df.loc[project_json_df.code == '7', 'name'] = 'Social dev/gender/inclusion'
project_json_df.loc[project_json_df.code == '8', 'name'] = 'Human development'
project_json_df.loc[project_json_df.code == '9', 'name'] = 'Urban development'
project_json_df.loc[project_json_df.code == '10', 'name'] = 'Rural development'
project_json_df.loc[project_json_df.code == '11', 'name'] = 'Environment and natural resources management'

In [71]:
#Fills in the missing data in a new dataframe and checks if it has worked
df_filled = project_json_df.fillna(method='backfill')
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
code                1499 non-null object
name                1499 non-null object
countryshortname    1499 non-null object
dtypes: object(3)
memory usage: 35.2+ KB

In [76]:
df_filled.head(10)

  code                                          name    countryshortname
0    8                             Human development            Ethiopia
1   11  Environment and natural resources management            Ethiopia
2    1                           Economic management             Tunisia
3    6         Social protection and risk management             Tunisia
4    5                         Trade and integration              Tuvalu
5    2                      Public sector governance              Tuvalu
6   11  Environment and natural resources management              Tuvalu
7    6         Social protection and risk management              Tuvalu
8    7                   Social dev/gender/inclusion  Yemen, Republic of
9    7                   Social dev/gender/inclusion  Yemen, Republic of

In [74]:
print(df_filled.groupby('code').count().sort_values('name', ascending=False).head(10))
print(df_filled.groupby(['code', 'name']).count().sort_values('countryshortname', ascending=False).head(10))

      name  countryshortname
code
11     250               250
10     216               216
8      210               210
2      199               199
6      168               168
4      146               146
7      130               130
5       77                77
9       50                50
1       38                38
                                                   countryshortname
code name
11   Environment and natural resources management               250
10   Rural development                                          216
8    Human development                                          210
2    Public sector governance                                   199
6    Social protection and risk management                      168
4    Financial and private sector development                   146
7    Social dev/gender/inclusion                                130
5    Trade and integration                                       77
9    Urban development                                           50
1    Economic management                                         38